<footer class="page-footer darken-3 text-white justify-content-center">
    <div class="container ">
        <div class="row">
            <div class="text-center justify-content-center col-12 mx-auto my-1">
                <!-- Facebook -->
                <a class="fa fa-facebook " href="https://www.facebook.com/sparsh.jain.9699 "></a>
                <!-- Github -->
                <a class="fa fa-github " href="https://github.com/SparshJain2000"></a>
                <!-- Instagram-->
                <a class="fa fa-instagram " href="https://www.instagram.com/sparsh._jain/ "></a>
                <!--Linkedin -->
                <a class="fa fa-linkedin " href="https://www.linkedin.com/in/sparsh-jain-87379a168/ "></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-1 my-1">Created with &nbsp &#10084 &nbsp by Sparsh </div>
</footer>