<%-include('partials/header.ejs') %>
    <div id="main">
        <div id="chat-window" class="rounded overflow-auto shadow">
            <div id="output" class="p-3 container">
            </div>
            <div id="feedback" class='p-3'></div>
        </div>
        <div>
            <input class='form-control' type="text" placeholder="handle" id="handle">
            <input class='form-control' type="text" placeholder="message" id="message">
            <input class="btn btn-primary form-control" type="button" id="button" value='Send'>
        </div>
    </div>

    <script src='chat.js'>
    </script>
    </body>

    </html>