<%-include('partials/header.ejs') %>
    <div id="alert"></div>

    <div id="main">
        <div id="chat-window" class="rounded overflow-auto shadow">

            <div id="output" class="p-3 container">
            </div>
            <div id="feedback" class='p-3'></div>
            <button id="up" class="btn btn-warning m-2 text-white" onclick="scrollUp()"></i></button>

        </div>
        <div class='form-inline'>
            <input class='form-control col-8 ' type="text" placeholder="Type your message ..." id="message">
            <button class="form-control align-center btn btn-danger col-2">
            <input type="file" accept="image/*" id="file-input">
            <label class="input-label  " for="file-input"><i class="fa fa-camera"></i></label>
        </button>
            <button class="btn btn-primary form-control col-2 " type="submit" id="button"><i
                class="fa fa-paper-plane"></i></button>
        </div>
    </div>

    <script src='chat.js'>
    </script>
    </body>

    </html>