html,
body {
    background-color: #232323;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.navbar .navbar-brand {
    font-family: 'Pacifico', cursive
}

#main {
    margin-left: 10%;
    margin-right: 10%;
}

#chat-window {
    margin-top: 2vh;
    background-color: #434343;
    min-height: 50vh;
    max-height: 70vh;
    color: black;
    color: white;
}

#form {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 10vh;
    margin-right: 17vw;
    margin-left: 17vw;
}

.mess {
    word-wrap: break-word;
    font-size: x-small;
    max-width: max-content;
    min-width: 20vw;
    font-size: 3vmin;
    /* max-width: fit-content; */
}

@media only screen and (max-width: 768px) {
    .mess {
        word-wrap: break-word;
        font-size: x-small;
        max-width: max-content;
        min-width: 20vw;
        font-size: 4vmin;
        /* max-width: fit-content; */
    }
    #btns {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#btns {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.seen {
    word-wrap: break-word;
    font-size: x-small;
    max-width: max-content;
    min-width: 10vw;
    /* max-width: fit-content; */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    /* margin-top: 34vh; */
    /* z-index: -2;
    bottom: 0; */
}

footer .fa {
    padding: .7rem;
    font-size: 1.2rem;
    margin-left: .8vw;
    margin-right: .8vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa-facebook:hover {
    border-radius: 47%;
    background: #3B5998;
    color: white;
    transition: .4s ease-in-out;
}

.fa-github:hover {
    background-color: white;
    color: black;
    transition: .4s ease-in-out;
}

.fa-instagram:hover {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transition: .4s ease-in-out;
}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
    transition: .4s ease-in-out;
}

.footer-copyright {
    background: rgba(255, 255, 255, .1);
    height: max-content;
}

.input-label {
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    /* background-color: black; */
    display: block;
}

#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.dropdown-item {
    color: white;
    transition: .3s ease-in-out;
}

.dropdown-item:hover {
    color: black;
    transition: .3s ease-in-out;
}

#roomName {
    border: 0.01px solid rgb(56, 56, 56);
    border-radius: .5rem;
}